body {
    background-color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 5px 40px 30px 40px;
}

#topic {
    font-size: 25px;
    margin-top: 30px;
    color: gold;
        font-size: 80px;
}

#search {
    font-size: 18px;
    padding: 10px;
    margin-right: 40px;
        width: 30%;
        border-radius: 10px;
}

#search-button {
    font-size: 18px;
    padding: 12px 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
}

#results {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#screen-text {
    text-align: center;
    font-size: 250px;
    color: rgb(212, 255, 0);
}
.song {
    margin: 30px;
        width: 300px;
}

.song img {
    width: 100%;
    border-radius: 15px;
        box-shadow: 2px 2px 50px white;
}

.song h2 {
    font-size: 22px;
    margin-top: 10px;
    color: gold;
}

.song h3 {
    font-size: 18px;
    margin-top: 5px;
    color: white;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 20px;
    color: white;
}